/* base.css */
@import "../../../../themes/base.css";

.header {
  background: white;
  height: 50px;

  position: relative;
  min-height: 50px;
  margin-bottom: 20px;

  border: 0;
  border-bottom: 1px solid black;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  border-radius: 0;

}
