/* siteCard base.css */

.siteCard {
  text-align: center;
  margin-top: 16px;
}
.siteCard p {
  padding: 0;
  margin: 0 0 24px;
}
.siteStatus {
}
.siteStatus ul {
  border-radius: 0;
  color: #999;
  font-weight: 600;
  margin: 0 0 24px;
  padding: 2px 0;
}
.siteStatus ul li {
  float: none;
  display: inline-block;
}
.siteStatus ul li a {
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  border-bottom: 1px solid #999;
  border-radius: 0;
  color: #999;
  font-weight: 600;
  margin: 0 4px;
  padding: 2px 0;
}

.siteThumb {
  height: 165px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}
