/* themeA.css */
@import "../../../../themes/bluehost.css";

.logo {
  background: white;
  font-family: 'Open Sans';
  height: auto;
  height: 75px;
  line-height: 40px;
}
.brandName {
  color: blue;
}
