@import "./base/colors.css";

body, html {
  background: #f5f5f5;
  color: black;
  padding-top: 50px;
  margin: 0;
  padding: 0;
  font-family: "SF UI Text", "Helvetica", sans-serif;
}

/* Link */

a {
  color: black;
  display: inline-block;
}
a:hover {
  color: black;
}
.link-dark {
  color: black;
}


/* Utility */

.left     {float:right;}
.right    {float:right;}
.centered {margin-left:auto;margin-right:auto;}


/* Typography */

.bold, strong {
  font-weight: bold;
}

.page-title, .fsl {
  font-size: 24px;
  margin: 0;
}
.fsm  {font-size: 16px;}
.fss  {font-size: 14px;}
.fsxs {font-size: 12px;}

.align-left   {text-align: left;}
.align-right  {text-align: right;}
.align-center {text-align: center;}

.uppercase    {text-transform: uppercase;}
.lowercase    {text-transform: lowercase;}


/* Panels */

.panel {
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel-default {
  border-color: #ddd;
}


/* Navigation */

.nav>li {
  position: relative;
  display: block;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav-pills>li>a {
  color: #666;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  color: black;
  background-color: transparent;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs.content-tabs>li.active>a,
.nav-tabs.content-tabs>li.active>a:focus,
.nav-tabs.content-tabs>li.active>a:hover {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #000;
  color: #000;
  font-weight: 800;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}


/* Avatar */
.avatar, .avatar-s {
  border-radius: 60px;
  box-shadow: 0 1px 3px rgba(0,0,5, .5);
  position: relative;
  float: left;
  left:0;
  top: -5px;
  width: 30px;
}


/* Margin */

.mt2 { margin-top: 8px; }
.mt3 { margin-top: 16px; }

.mb4 { margin-bottom: 24px; }

.mr1 { margin-right: 4px; }
.mr2 { margin-right: 8px; }
.mr3 { margin-right: 16px; }
.mr4 { margin-right: 24px; }
