/* Bluehost Base */

body, html {
  font-family: 'Open Sans';
}

/* Links */
a {
  color: #3575d3;
}


/* Buttons */
.btn-default {
  color: white;
  background-color: #3575d3;
  border-color: #3575d3;
}
