/* iPage Base */

body, html {
  font-family: 'Franklin Gothic';
  color: #212121;
}

/* Links */
a {
  color: #0288d1;
}
.link-dark {
  color: #212121;
}


/* Buttons */
.btn-default {
  color: white;
  background-color: #26ce61;
  border-color: #26ce61;
}

/* Typography */
.bold, strong {
  font-family: "ITC Franklin Gothic Std";
  font-weight: 600;
}


/* Navigation */

.nav-pills>li>a {
  color: #212121;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  color: #26ce61;
  background-color: transparent;
}


/* Typography */
.fsl {
  font-size: 20px;
  font-weight: 600;
}
