/* HostGator */

@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
  margin: 0;
  padding: 0;
}
html {

}
body {
  background-color: transparent;
  color: rgba(0,0,0,.87);
  font-family: 'Roboto', sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.42857;
}

body, table tbody tr td {
  font-size: 15px;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}
.h3, .typography-headline, h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0;
}
.card-title, h2, h3, h4 {
  font-weight: 300;
}
.tab-navigation-description {
  padding-bottom: 20px;
  color: rgba(0,0,0,.54);
}
hr {
  margin: -1px 0px 0px;
  height: 1px;
  border: none;
  background-color: rgb(224, 224, 224);
}
.max-lines {
  -moz-box-orient: vertical;
  -moz-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-box;
  -webkit-box-align: initial;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Links */
a, a:active, a:focus, a:hover {
  color: #0171bc;
  text-decoration: none;
}

/* Buttons */
.btn-primary {

  color: white;
  background-color: rgb(255, 255, 255);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
  display: inline-block;
  min-width: 88px;

  border: 10px;
  box-sizing: border-box;
  display: inline-block;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  z-index: 1;
  height: 36px;
  line-height: 36px;
  width: 100%;
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background-color: rgb(1, 113, 188);
  text-align: center;
  text-transform: uppercase;
}
.btn-default {
  border: 10px;
  box-sizing: border-box;
  display: inline-block;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  margin: 0px 0px 0px -15px;
  padding: 0px 16px;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  z-index: 1;
  height: 36px;
  line-height: 36px;
  color: rgb(1, 113, 188);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  border-radius: 2px;
  user-select: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  text-transform: uppercase;
}



/* Navigation */
.navbar-brand {
  height: auto;
  padding: 0;
}

/* Sidebar */

.primary-nav .glyphicon {
  display: inline-block;
  font-size: 22px;
  margin-right: 12px;
  top: 5px;
}
.wordpress-logo {
  height: 24px;
  position: relative;
  top: -2px;
}
.nav.primary-nav>li>a {
  color: white;
}

.nav.primary-nav {
  padding: 24px 1pc 0;
}
.nav.primary-nav>li>a {
  border-radius: 2px;
  padding: 15px;
  line-height: 24px;
}
.nav.primary-nav>li>a:hover,
.nav.primary-nav>li>a:active:focus,
.nav.primary-nav>li>a:active,
.nav.primary-nav>li>a:focus {
  background-color: rgba(29,69,139,.48);
}
.nav.primary-nav a.active {
  color: inherit;
  background: #1d458b;
}
.primary-nav .glyphicon {
  top: 0;
  float: left;
}

.floating-row {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(255, 255, 255);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
}






/* Card */

/* Button */
.card button {
  border: 10px;
  box-sizing: border-box;
  display: inline-block;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  margin: 5px 0px 0px;
  padding: 0px;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  z-index: 1;
  height: 36px;
  line-height: 36px;
  min-width: 88px;
  color: rgb(1, 113, 188);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  border-radius: 2px;
  user-select: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}
.card button span {
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}


.container-fluid .header {
  background-color: white;
}


/* Sites */
.site-details.container {
  max-width: 100%;
  width: 64pc;
}
.my-sites-holder {
  width: 100%;
  padding-top: 24px;
  margin-bottom: 17px;
  background-color: none;
  -webkit-transition: all .5s cubic-bezier(0.65,-0.14,0.52,0.99);
  -moz-transition: all .5s cubic-bezier(0.65,-0.14,0.52,0.99);
  -o-transition: all .5s cubic-bezier(0.65,-0.14,0.52,0.99);
  transition: all .5s cubic-bezier(0.65,-0.14,0.52,0.99);
}
