/* HostGator */

@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
  margin: 0;
  padding: 0;
}
html {
  background-image:
  url(https://cphostgatoruscentralweb.blob.core.windows.net/d-cp-hostgator-1497621785313/36c29a6bcc234c8fabef851629a09f0a.png),
  url(https://cphostgatoruscentralweb.blob.core.windows.net/d-cp-hostgator-1497621785313/dedda6992f456fb74d29f3567c4eb3d2.png),
  url(https://cphostgatoruscentralweb.blob.core.windows.net/d-cp-hostgator-1497621785313/62116b728966e935ad82db7a6c650b83.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 95% bottom, left bottom, left top;
  background-size: 150px, contain, cover;
  height: 100%;
}
body {
  background-color: transparent;
  color: rgba(0,0,0,.87);
  font-family: 'Roboto', sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.42857;
}

body, table tbody tr td {
  font-size: 15px;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}
.h3, .typography-headline, h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0;
}
.card-title, h2, h3, h4 {
  font-weight: 300;
}
.tab-navigation-description {
  padding-bottom: 20px;
  color: rgba(0,0,0,.54);
}
hr {
  margin: -1px 0px 0px;
  height: 1px;
  border: none;
  background-color: rgb(224, 224, 224);
}
.max-lines {
  -moz-box-orient: vertical;
  -moz-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-box;
  -webkit-box-align: initial;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Links */
a, a:active, a:focus, a:hover {
  color: #0171bc;
  text-decoration: none;
}


/* Navigation */
.navbar-brand {
  height: auto;
  padding: 0;
}


/* Card */

/* Button */
.card button {
  border: 10px;
  box-sizing: border-box;
  display: inline-block;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  margin: 5px 0px 0px;
  padding: 0px;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  z-index: 1;
  height: 36px;
  line-height: 36px;
  min-width: 88px;
  color: rgb(1, 113, 188);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  border-radius: 2px;
  user-select: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}
.card button span {
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}


.container-fluid .header {
  background-color: white;
}
