/* home link base.css */

.homeLink {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  background-color: black;
  margin-left: -15px;
}


.homeLink a,
.homeLink a:hover,
.homeLink a:active,
.homeLink a:focus,
.homeLink a:active:focus {
  color: white;
}

.homeLink span {
}
