/* utilityNav base.css */

.utilityNav {
  float: right;
  list-style: none;
  margin-top: 4px;
}

.utilityNav>li {
  float: left;
  position: relative;
  display: block;
}
.utilityNav>li:last-child a {padding-right:0;}
.utilityNav>li:last-child a i:last-child {font-size: 10px;}

.utilityNav>li>a {
  color: #9d9d9d;
  position: relative;
  display: block;
  padding: 10px 15px;
  line-height: 20px;
}
.utilityNav>li>a .glyphicon-triangle-bottom {
  background: white;
}

.utilityNav>li>a {
}

.utilityProfile>a>span {
  margin: 0 8px;
}
.utilityProfile .glyphicon {
  font-size: 0;
}

.navNotifications {
  position: relative;
}
.navBadge {
  position: absolute;
  display: inline-block;
  padding: 0;
  top: 0; right: 0;
}
.navBadge span {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 6px;
  font-weight: 500;
  font-size: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgb(255, 212, 61);
  color: rgb(255, 255, 255);
}
